# Git LFS tracked files
*.dat filter=lfs diff=lfs merge=lfs -text

# Ignore all CSV files
*.csv

# Ignore all Excel files (XLS and XLSX)
*.xls
*.xlsx

# Ignore database files
*.db

# Python specific ignores
__pycache__/

# Application files
app.py
.env

# Directory ignores
templates/
attendance_record/
data/data_faces_from_camera

# Specific file ignores
data/features_all.csv
data/data.xlsx